.decoration {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    border-top: 2px solid #daa533;
    width: 120px;
    top: 135%;
    left: 50%;
    transform: translate(-50%);
  }
}
