.navigation__item a {
  transition: 0.5s;
}

.navigation__item a:hover {
  color: $text_color;
  cursor: pointer;
}

@media (min-width: 992px) {
  .navigation__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navigation__item {
    margin: 0 20px;
  }
}

@media (max-width: 991px) {
  .navigation {
    height: 100vh;
    width: 250px;
    background-color: $primary_color;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-250px);
    transition: 0.1s 0.1s ease-in-out;
    z-index: 999;
  }

  .navigation--active {
    transform: translateX(0px);
  }

  .navigation__list {
    margin-top: 50px;
  }

  .navigation__item {
    margin-bottom: 20px;

    a {
      color: $light_color;
      font-size: 1.5rem;
    }
  }
}
