body {
  color: $light_color;
  background-color: #3F4E64;
  font-family: $primary__font;
}

a {
  color: $light_color;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

@mixin sectionHeader {
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
  text-transform: uppercase;
}

@mixin sectionSettings ($color) {
  border-bottom: 5px dashed $color;
  border-top: 5px dashed $color;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}
